# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Expo
.expo/
web-build/
dist/
ios/*
android/*
android/app/BUCK
ios/Podfile.properties.json
ios/Podfile
ios/magic8ball/Supporting/Expo.plist
ios/magic8ball/SplashScreen.storyboard
ios/magic8ball/main.m
ios/magic8ball/Info.plist
ios/magic8ball/Images.xcassets/SplashScreenBackground.imageset/Contents.json
ios/magic8ball/Images.xcassets/SplashScreen.imageset/Contents.json
ios/magic8ball/Images.xcassets/Contents.json
ios/magic8ball/Images.xcassets/AppIcon.appiconset/Contents.json
ios/magic8ball/AppDelegate.mm
ios/magic8ball/AppDelegate.h
ios/magic8ball.xcodeproj/xcshareddata/xcschemes/magic8ball.xcscheme
android/settings.gradle
android/gradlew
android/gradle/wrapper/gradle-wrapper.properties
android/gradle.properties
android/build.gradle
android/app/src/main/res/values/styles.xml
android/app/src/main/res/values/strings.xml
android/app/src/main/res/values/colors.xml
android/app/src/main/res/drawable/splashscreen.xml
android/app/src/main/res/drawable/rn_edit_text_material.xml
android/app/src/main/jni/OnLoad.cpp
android/app/src/main/jni/MainComponentsRegistry.h
android/app/src/main/jni/MainComponentsRegistry.cpp
android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
android/app/src/main/jni/MainApplicationModuleProvider.h
android/app/src/main/jni/MainApplicationModuleProvider.cpp
android/app/src/main/jni/Android.mk
android/app/src/main/java/com/magic8ball/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
android/app/src/main/java/com/magic8ball/newarchitecture/MainApplicationReactNativeHost.java
android/app/src/main/java/com/magic8ball/newarchitecture/components/MainComponentsRegistry.java
android/app/src/main/java/com/magic8ball/MainApplication.java
android/app/src/main/java/com/magic8ball/MainActivity.java
android/app/src/main/AndroidManifest.xml
android/app/src/debug/java/com/magic8ball/ReactNativeFlipper.java
android/app/src/debug/AndroidManifest.xml
android/app/proguard-rules.pro
android/app/build_defs.bzl
android/app/build.gradle
android/app/BUCK
